body {
    position: relative;
    background-image: url(img/gallery_03.jpg);
    background-size: cover;
}

.container {
    height: auto;
    padding: 30px;
    margin: 30px;
    color: white;
    border-radius: 10px;
    backdrop-filter: blur(6px);
    /* background-color: aqua; */
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.navbar li {
    display: inline;
    justify-content: space-around;
    padding: 0 10px;
    margin-top: 10px;
    list-style: none;
}

a {
    text-decoration: none;
    color: white;
    font-weight: bolder;
}

.navbar ul li a:hover {
    transform: scale(1.4);
    transition: ease-in-out 1s;
    color: yellow;
    padding: 5px;
}

.click1 {
    background-color: rgba(255, 255, 0, 0.794);
    border: none;
    border-radius: 20px;
    cursor: pointer;
    width: 100px;
    height: 50px;
    transition: ease-in-out 2s;
}

.click1:hover {
    transform: scale(1.1);

}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 12px 10px;
    text-decoration: none;
    display: flex;
}

.dropdown-content a:hover {
    background-color: yellow;
}

.dropdown:hover .dropdown-content {
    display: block;
    border-radius: 10px;
}

.click2 {
    position: absolute;
    width: 250px;
    height: 40px;
    background-color: rgba(255, 255, 0, 0.794);
    border-radius: 20px;
    border: none;
}

.click2:hover {
    background-color: rgba(229, 229, 28, 0.794);
    cursor: pointer;
    transform: scale(1.1);
}

.pic {
    position: absolute;
    top: 18%;
    left: 62%;
}

.pic:hover {
    transform: scale(1.2);
    transition: ease-in-out 2s;
}

.main {
    margin: 40px;
    color: white;
}

h2 {
    font-size: 60px;
    margin-top: -10px;
}

p {
    padding-top: 5px;
}

.content {
    display: flex;

    justify-content: center;
    padding-top: 70px;
    justify-content: space-around;
}

.fire-icon {
    color: rgba(255, 255, 0, 0.794);
}

.footer {
    display: flex;
    justify-content: center;
}

.fot {
    padding: 0 10px;
    margin-top: 80px;
}

ion-icon {
    font-size: 30px;
}

ion-icon:hover {
    transform: scale(1.5);
}
